<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.paper.mapper.AchievementsPaperMapper">
    
    <resultMap type="AchievementsPaper" id="AchievementsPaperResult">
        <result property="paperId"    column="paper_id"    />
        <result property="userId"    column="user_id"    />
        <result property="paperTitle"    column="paper_title"    />
        <result property="paperCategory"    column="paper_category"    />
        <result property="researchDirection"    column="research_direction"    />
        <result property="authorInformation"    column="author_information"    />
        <result property="journal"    column="journal"    />
        <result property="publishDate"    column="publish_date"    />
        <result property="volume"    column="volume"    />
        <result property="issue"    column="issue"    />
        <result property="pageRange"    column="page_range"    />
        <result property="doi"    column="doi"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectAchievementsPaperVo">
        select paper_id, user_id, paper_title, paper_category, research_direction, author_information, journal, publish_date, volume, issue, page_range, doi, audit_status, created_at, updated_at, dept_id from achievements_paper
    </sql>

    <select id="selectAchievementsPaperList" parameterType="AchievementsPaper" resultMap="AchievementsPaperResult">
        <include refid="selectAchievementsPaperVo"/>
        <where>  
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title = #{paperTitle}</if>
            <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
            <if test="researchDirection != null  and researchDirection != ''"> and research_direction = #{researchDirection}</if>
            <if test="publishDate != null "> and publish_date = #{publishDate}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
        </where>
    </select>
    
    <select id="selectAchievementsPaperByPaperId" parameterType="Long" resultMap="AchievementsPaperResult">
        <include refid="selectAchievementsPaperVo"/>
        where paper_id = #{paperId}
    </select>

    <insert id="insertAchievementsPaper" parameterType="AchievementsPaper" useGeneratedKeys="true" keyProperty="paperId">
        insert into achievements_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title,</if>
            <if test="paperCategory != null and paperCategory != ''">paper_category,</if>
            <if test="researchDirection != null">research_direction,</if>
            <if test="authorInformation != null and authorInformation != ''">author_information,</if>
            <if test="journal != null and journal != ''">journal,</if>
            <if test="publishDate != null">publish_date,</if>
            <if test="volume != null">volume,</if>
            <if test="issue != null">issue,</if>
            <if test="pageRange != null">page_range,</if>
            <if test="doi != null">doi,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="paperTitle != null and paperTitle != ''">#{paperTitle},</if>
            <if test="paperCategory != null and paperCategory != ''">#{paperCategory},</if>
            <if test="researchDirection != null">#{researchDirection},</if>
            <if test="authorInformation != null and authorInformation != ''">#{authorInformation},</if>
            <if test="journal != null and journal != ''">#{journal},</if>
            <if test="publishDate != null">#{publishDate},</if>
            <if test="volume != null">#{volume},</if>
            <if test="issue != null">#{issue},</if>
            <if test="pageRange != null">#{pageRange},</if>
            <if test="doi != null">#{doi},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateAchievementsPaper" parameterType="AchievementsPaper">
        update achievements_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title = #{paperTitle},</if>
            <if test="paperCategory != null and paperCategory != ''">paper_category = #{paperCategory},</if>
            <if test="researchDirection != null">research_direction = #{researchDirection},</if>
            <if test="authorInformation != null and authorInformation != ''">author_information = #{authorInformation},</if>
            <if test="journal != null and journal != ''">journal = #{journal},</if>
            <if test="publishDate != null">publish_date = #{publishDate},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="issue != null">issue = #{issue},</if>
            <if test="pageRange != null">page_range = #{pageRange},</if>
            <if test="doi != null">doi = #{doi},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where paper_id = #{paperId}
    </update>

    <delete id="deleteAchievementsPaperByPaperId" parameterType="Long">
        delete from achievements_paper where paper_id = #{paperId}
    </delete>

    <delete id="deleteAchievementsPaperByPaperIds" parameterType="String">
        delete from achievements_paper where paper_id in 
        <foreach item="paperId" collection="array" open="(" separator="," close=")">
            #{paperId}
        </foreach>
    </delete>
</mapper>