<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.paper.mapper.AchievementsPaperMapper">
    
    <resultMap type="AchievementsPaper" id="AchievementsPaperResult">
        <result property="paperId"    column="paper_id"    />
        <result property="userId"    column="user_id"    />
        <result property="paperTitle"    column="paper_title"    />
        <result property="paperCategory"    column="paper_category"    />
        <result property="paperStatus"    column="paper_status"    />
        <result property="acceptanceDate"    column="acceptance_date"    />
        <result property="researchDirection"    column="research_direction"    />
        <result property="authorInformation"    column="author_information"    />
        <result property="journal"    column="journal"    />
        <result property="publishDate"    column="publish_date"    />
        <result property="volume"    column="volume"    />
        <result property="issue"    column="issue"    />
        <result property="pageRange"    column="page_range"    />
        <result property="doi"    column="doi"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="deptId"    column="dept_id"    />
        <result property="archivalType"    column="archival_type"    />
        <result property="achievementsType"    column="achievements_type"    />
    </resultMap>

    <sql id="selectAchievementsPaperVo">
        select paper_id, user_id, paper_title, paper_category, paper_status, acceptance_date, research_direction, author_information, journal, publish_date, volume, issue, page_range, doi, audit_status, created_at, updated_at, dept_id, archival_type, achievements_type from achievements_paper
    </sql>

    <select id="selectAchievementsPaperList" parameterType="AchievementsPaper" resultMap="AchievementsPaperResult">
        <include refid="selectAchievementsPaperVo"/>
        <where>  
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="params.scopedDeptIds != null and params.scopedDeptIds.size() &gt; 0">
                and dept_id in
                <foreach item="scopedDeptId" collection="params.scopedDeptIds" open="(" separator="," close=")">
                    #{scopedDeptId}
                </foreach>
            </if>
            <if test="deptId != null"> and dept_id = #{deptId}</if>
            <if test="paperTitle != null  and paperTitle != ''"> and paper_title like concat('%', #{paperTitle}, '%')</if>
            <if test="paperCategory != null  and paperCategory != ''"> and paper_category = #{paperCategory}</if>
            <if test="paperStatus != null  and paperStatus != ''"> and paper_status = #{paperStatus}</if>
            <if test="acceptanceDate != null"> and acceptance_date = #{acceptanceDate}</if>
            <if test="params.beginAcceptanceDate != null and params.beginAcceptanceDate != ''"> and acceptance_date &gt;= #{params.beginAcceptanceDate}</if>
            <if test="params.endAcceptanceDate != null and params.endAcceptanceDate != ''"> and acceptance_date &lt;= #{params.endAcceptanceDate}</if>
            <if test="researchDirection != null  and researchDirection != ''"> and research_direction like concat('%', #{researchDirection}, '%')</if>
            <if test="publishDate != null "> and publish_date = #{publishDate}</if>
            <if test="params.beginPublishDate != null and params.beginPublishDate != ''"> and publish_date &gt;= #{params.beginPublishDate}</if>
            <if test="params.endPublishDate != null and params.endPublishDate != ''"> and publish_date &lt;= #{params.endPublishDate}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != ''"> and created_at &gt;= #{params.beginCreatedAt}</if>
            <if test="params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at &lt;= #{params.endCreatedAt}</if>
            <if test="params.beginUpdatedAt != null and params.beginUpdatedAt != ''"> and updated_at &gt;= #{params.beginUpdatedAt}</if>
            <if test="params.endUpdatedAt != null and params.endUpdatedAt != ''"> and updated_at &lt;= #{params.endUpdatedAt}</if>
            <if test="archivalType != null  and archivalType != ''"> and archival_type = #{archivalType}</if>
            <if test="achievementsType != null  and achievementsType != ''"> and achievements_type = #{achievementsType}</if>
        </where>
    </select>
    
    <select id="selectAchievementsPaperByPaperId" parameterType="Long" resultMap="AchievementsPaperResult">
        <include refid="selectAchievementsPaperVo"/>
        where paper_id = #{paperId}
    </select>

    <insert id="insertAchievementsPaper" parameterType="AchievementsPaper" useGeneratedKeys="true" keyProperty="paperId">
        insert into achievements_paper
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title,</if>
            <if test="paperCategory != null and paperCategory != ''">paper_category,</if>
            <if test="paperStatus != null and paperStatus != ''">paper_status,</if>
            <if test="acceptanceDate != null">acceptance_date,</if>
            <if test="researchDirection != null">research_direction,</if>
            <if test="authorInformation != null and authorInformation != ''">author_information,</if>
            <if test="journal != null and journal != ''">journal,</if>
            <if test="publishDate != null">publish_date,</if>
            <if test="volume != null">volume,</if>
            <if test="issue != null">issue,</if>
            <if test="pageRange != null">page_range,</if>
            <if test="doi != null">doi,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="archivalType != null and archivalType != ''">archival_type,</if>
            <if test="achievementsType != null and achievementsType != ''">achievements_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="paperTitle != null and paperTitle != ''">#{paperTitle},</if>
            <if test="paperCategory != null and paperCategory != ''">#{paperCategory},</if>
            <if test="paperStatus != null and paperStatus != ''">#{paperStatus},</if>
            <if test="acceptanceDate != null">#{acceptanceDate},</if>
            <if test="researchDirection != null">#{researchDirection},</if>
            <if test="authorInformation != null and authorInformation != ''">#{authorInformation},</if>
            <if test="journal != null and journal != ''">#{journal},</if>
            <if test="publishDate != null">#{publishDate},</if>
            <if test="volume != null">#{volume},</if>
            <if test="issue != null">#{issue},</if>
            <if test="pageRange != null">#{pageRange},</if>
            <if test="doi != null">#{doi},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="archivalType != null and archivalType != ''">#{archivalType},</if>
            <if test="achievementsType != null and achievementsType != ''">#{achievementsType},</if>
         </trim>
    </insert>

    <update id="updateAchievementsPaper" parameterType="AchievementsPaper">
        update achievements_paper
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="paperTitle != null and paperTitle != ''">paper_title = #{paperTitle},</if>
            <if test="paperCategory != null and paperCategory != ''">paper_category = #{paperCategory},</if>
            <if test="paperStatus != null and paperStatus != ''">paper_status = #{paperStatus},</if>
            <choose>
                <when test="paperStatus != null and paperStatus == '已录用'">
                    acceptance_date = #{acceptanceDate},
                    publish_date = null,
                </when>
                <when test="paperStatus != null and paperStatus == '已发表'">
                    acceptance_date = null,
                    publish_date = #{publishDate},
                </when>
                <otherwise>
                    <if test="acceptanceDate != null">acceptance_date = #{acceptanceDate},</if>
                    <if test="publishDate != null">publish_date = #{publishDate},</if>
                </otherwise>
            </choose>
            <if test="researchDirection != null">research_direction = #{researchDirection},</if>
            <if test="authorInformation != null and authorInformation != ''">author_information = #{authorInformation},</if>
            <if test="journal != null and journal != ''">journal = #{journal},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="issue != null">issue = #{issue},</if>
            <if test="pageRange != null">page_range = #{pageRange},</if>
            <if test="doi != null">doi = #{doi},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="archivalType != null and archivalType != ''">archival_type = #{archivalType},</if>
            <if test="achievementsType != null and achievementsType != ''">achievements_type = #{achievementsType},</if>
        </trim>
        where paper_id = #{paperId}
    </update>

    <delete id="deleteAchievementsPaperByPaperId" parameterType="Long">
        delete from achievements_paper where paper_id = #{paperId}
    </delete>

    <delete id="deleteAchievementsPaperByPaperIds" parameterType="String">
        delete from achievements_paper where paper_id in 
        <foreach item="paperId" collection="array" open="(" separator="," close=")">
            #{paperId}
        </foreach>
    </delete>
</mapper>
