<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.award.mapper.AchievementsAwardMapper">
    
    <resultMap type="AchievementsAward" id="AchievementsAwardResult">
        <result property="awardId"    column="award_id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="awardName"    column="award_name"    />
        <result property="awardWinner"    column="award_winner"    />
        <result property="awardUnit"    column="award_unit"    />
        <result property="awardDate"    column="award_date"    />
        <result property="awardLevel"    column="award_level"    />
        <result property="awardCategory"    column="award_category"    />
        <result property="awardRanking"    column="award_ranking"    />
        <result property="awardCeremonyDate"    column="award_ceremony_date"    />
        <result property="awardCeremonyPlace"    column="award_ceremony_place"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectAchievementsAwardVo">
        select award_id, user_id, dept_id, award_name, award_winner, award_unit, award_date, award_level, award_category, award_ranking, award_ceremony_date, award_ceremony_place, audit_status, created_at, updated_at from achievements_award
    </sql>

    <select id="selectAchievementsAwardList" parameterType="AchievementsAward" resultMap="AchievementsAwardResult">
        <include refid="selectAchievementsAwardVo"/>
        <where>  
            <if test="awardName != null  and awardName != ''"> and award_name like concat('%', #{awardName}, '%')</if>
            <if test="awardWinner != null  and awardWinner != ''"> and award_winner = #{awardWinner}</if>
            <if test="awardDate != null "> and award_date = #{awardDate}</if>
            <if test="awardLevel != null  and awardLevel != ''"> and award_level = #{awardLevel}</if>
            <if test="awardCategory != null  and awardCategory != ''"> and award_category like concat('%', #{awardCategory}, '%')</if>
            <if test="awardRanking != null  and awardRanking != ''"> and award_ranking = #{awardRanking}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectAchievementsAwardByAwardId" parameterType="Long" resultMap="AchievementsAwardResult">
        <include refid="selectAchievementsAwardVo"/>
        where award_id = #{awardId}
    </select>

    <insert id="insertAchievementsAward" parameterType="AchievementsAward">
        insert into achievements_award
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="awardId != null">award_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="awardName != null and awardName != ''">award_name,</if>
            <if test="awardWinner != null and awardWinner != ''">award_winner,</if>
            <if test="awardUnit != null and awardUnit != ''">award_unit,</if>
            <if test="awardDate != null">award_date,</if>
            <if test="awardLevel != null and awardLevel != ''">award_level,</if>
            <if test="awardCategory != null and awardCategory != ''">award_category,</if>
            <if test="awardRanking != null">award_ranking,</if>
            <if test="awardCeremonyDate != null">award_ceremony_date,</if>
            <if test="awardCeremonyPlace != null">award_ceremony_place,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="awardId != null">#{awardId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="awardName != null and awardName != ''">#{awardName},</if>
            <if test="awardWinner != null and awardWinner != ''">#{awardWinner},</if>
            <if test="awardUnit != null and awardUnit != ''">#{awardUnit},</if>
            <if test="awardDate != null">#{awardDate},</if>
            <if test="awardLevel != null and awardLevel != ''">#{awardLevel},</if>
            <if test="awardCategory != null and awardCategory != ''">#{awardCategory},</if>
            <if test="awardRanking != null">#{awardRanking},</if>
            <if test="awardCeremonyDate != null">#{awardCeremonyDate},</if>
            <if test="awardCeremonyPlace != null">#{awardCeremonyPlace},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateAchievementsAward" parameterType="AchievementsAward">
        update achievements_award
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="awardName != null and awardName != ''">award_name = #{awardName},</if>
            <if test="awardWinner != null and awardWinner != ''">award_winner = #{awardWinner},</if>
            <if test="awardUnit != null and awardUnit != ''">award_unit = #{awardUnit},</if>
            <if test="awardDate != null">award_date = #{awardDate},</if>
            <if test="awardLevel != null and awardLevel != ''">award_level = #{awardLevel},</if>
            <if test="awardCategory != null and awardCategory != ''">award_category = #{awardCategory},</if>
            <if test="awardRanking != null">award_ranking = #{awardRanking},</if>
            <if test="awardCeremonyDate != null">award_ceremony_date = #{awardCeremonyDate},</if>
            <if test="awardCeremonyPlace != null">award_ceremony_place = #{awardCeremonyPlace},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where award_id = #{awardId}
    </update>

    <delete id="deleteAchievementsAwardByAwardId" parameterType="Long">
        delete from achievements_award where award_id = #{awardId}
    </delete>

    <delete id="deleteAchievementsAwardByAwardIds" parameterType="String">
        delete from achievements_award where award_id in 
        <foreach item="awardId" collection="array" open="(" separator="," close=")">
            #{awardId}
        </foreach>
    </delete>
</mapper>
