<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.textbook.mapper.AchievementsTextbookMapper">
    
    <resultMap type="AchievementsTextbook" id="AchievementsTextbookResult">
        <result property="textbookId"    column="textbook_id"    />
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="textbookName"    column="textbook_name"    />
        <result property="authorRole"    column="author_role"    />
        <result property="pressName"    column="press_name"    />
        <result property="isbnNumber"    column="isbn_number"    />
        <result property="publishDate"    column="publish_date"    />
        <result property="textbookType"    column="textbook_type"    />
        <result property="edition"    column="edition"    />
        <result property="wordCount"    column="word_count"    />
        <result property="usingInstitutions"    column="using_institutions"    />
        <result property="applicableMajor"    column="applicable_major"    />
        <result property="textbookLevel"    column="textbook_level"    />
        <result property="approvalNumber"    column="approval_number"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectAchievementsTextbookVo">
        select textbook_id, user_id, dept_id, textbook_name, author_role, press_name, isbn_number, publish_date, textbook_type, edition, word_count, using_institutions, applicable_major, textbook_level, approval_number, audit_status, created_at, updated_at from achievements_textbook
    </sql>

    <select id="selectAchievementsTextbookList" parameterType="AchievementsTextbook" resultMap="AchievementsTextbookResult">
        <include refid="selectAchievementsTextbookVo"/>
        <where>  
            <if test="textbookName != null  and textbookName != ''"> and textbook_name like concat('%', #{textbookName}, '%')</if>
            <if test="isbnNumber != null  and isbnNumber != ''"> and isbn_number = #{isbnNumber}</if>
            <if test="publishDate != null "> and publish_date = #{publishDate}</if>
            <if test="textbookType != null  and textbookType != ''"> and textbook_type = #{textbookType}</if>
            <if test="edition != null  and edition != ''"> and edition = #{edition}</if>
            <if test="usingInstitutions != null  and usingInstitutions != ''"> and using_institutions = #{usingInstitutions}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
        </where>
    </select>
    
    <select id="selectAchievementsTextbookByTextbookId" parameterType="Long" resultMap="AchievementsTextbookResult">
        <include refid="selectAchievementsTextbookVo"/>
        where textbook_id = #{textbookId}
    </select>

    <insert id="insertAchievementsTextbook" parameterType="AchievementsTextbook">
        insert into achievements_textbook
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="textbookId != null">textbook_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="textbookName != null and textbookName != ''">textbook_name,</if>
            <if test="authorRole != null and authorRole != ''">author_role,</if>
            <if test="pressName != null and pressName != ''">press_name,</if>
            <if test="isbnNumber != null and isbnNumber != ''">isbn_number,</if>
            <if test="publishDate != null">publish_date,</if>
            <if test="textbookType != null and textbookType != ''">textbook_type,</if>
            <if test="edition != null">edition,</if>
            <if test="wordCount != null">word_count,</if>
            <if test="usingInstitutions != null">using_institutions,</if>
            <if test="applicableMajor != null">applicable_major,</if>
            <if test="textbookLevel != null">textbook_level,</if>
            <if test="approvalNumber != null">approval_number,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="textbookId != null">#{textbookId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="textbookName != null and textbookName != ''">#{textbookName},</if>
            <if test="authorRole != null and authorRole != ''">#{authorRole},</if>
            <if test="pressName != null and pressName != ''">#{pressName},</if>
            <if test="isbnNumber != null and isbnNumber != ''">#{isbnNumber},</if>
            <if test="publishDate != null">#{publishDate},</if>
            <if test="textbookType != null and textbookType != ''">#{textbookType},</if>
            <if test="edition != null">#{edition},</if>
            <if test="wordCount != null">#{wordCount},</if>
            <if test="usingInstitutions != null">#{usingInstitutions},</if>
            <if test="applicableMajor != null">#{applicableMajor},</if>
            <if test="textbookLevel != null">#{textbookLevel},</if>
            <if test="approvalNumber != null">#{approvalNumber},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateAchievementsTextbook" parameterType="AchievementsTextbook">
        update achievements_textbook
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="textbookName != null and textbookName != ''">textbook_name = #{textbookName},</if>
            <if test="authorRole != null and authorRole != ''">author_role = #{authorRole},</if>
            <if test="pressName != null and pressName != ''">press_name = #{pressName},</if>
            <if test="isbnNumber != null and isbnNumber != ''">isbn_number = #{isbnNumber},</if>
            <if test="publishDate != null">publish_date = #{publishDate},</if>
            <if test="textbookType != null and textbookType != ''">textbook_type = #{textbookType},</if>
            <if test="edition != null">edition = #{edition},</if>
            <if test="wordCount != null">word_count = #{wordCount},</if>
            <if test="usingInstitutions != null">using_institutions = #{usingInstitutions},</if>
            <if test="applicableMajor != null">applicable_major = #{applicableMajor},</if>
            <if test="textbookLevel != null">textbook_level = #{textbookLevel},</if>
            <if test="approvalNumber != null">approval_number = #{approvalNumber},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where textbook_id = #{textbookId}
    </update>

    <delete id="deleteAchievementsTextbookByTextbookId" parameterType="Long">
        delete from achievements_textbook where textbook_id = #{textbookId}
    </delete>

    <delete id="deleteAchievementsTextbookByTextbookIds" parameterType="String">
        delete from achievements_textbook where textbook_id in 
        <foreach item="textbookId" collection="array" open="(" separator="," close=")">
            #{textbookId}
        </foreach>
    </delete>
</mapper>